body {
    background-image: url("estrelas.webp");
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.heading {
    display: block;
    height: 200px;
}

.heading img {
    height: 100%;
}

.content {
    margin-top: 6em;
    border: solid rgb(226, 178, 33);
    border-radius: 10px;
    width: 70%;
    height: 300px;
    text-align: center;
}

