body{
    background-color: rgb(218, 218, 216); 
    color: slategray;
    margin: 0%;
}

header{
    display: relative;
    background-size: cover;
    padding: 0px;
}

nav{
    background-color: rgb(189, 168, 151);
    display: block;
    height: 30px
}

.contact{
    float:right
}

h1{
    text-align: center;
    font-size: 3em;
    margin-bottom: 0px;
}

h2{
    text-align: center;
    font-size: 0.9em;
    margin: 0px;
}

ul{
    display: block;
    text-align: center;
}

li{
    display: inline-block;
    list-style-type: none;
}

.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 100px;
    border: 10px #BDA897;

}
